extends layout

block content
	.container
		h1= title
		+panel("About Us", "success") Mazao fresh are purveyors and wholesale suppliers of fresh produce to the food service and catering industry including hotels, restaurants, schools, and staff canteens within Nairobi. We source and supply an ever increasing range of products from fresh fruit, vegetables, salads, dairy and much more. At Mazao fresh we understand that good quality fresh fruit and vegetables, on time delivery and a competitive price are absolutely vital to the success of any catering establishment.

			p Our aim therefore is to provide our clients exceptional quality fresh fruit and vegetables consistently, along with helpful, stress-free customer service to make a good customer experience a great one. Quality produce is our passion. At Mazao Fresh, we are driven by our passion for quality produce and exceptional customer service to the Food Service  and Hospitality individualustries in Nairobi.

			p We pride ourselves on our reliability, flexibility and exceptional personal customer service as well as our strong relationships with local growers and distributors. This allows us to supply the very best in fresh fruit and vegetables at the very best prices, direct to your business.We are able to meet the needs of every customer. No order is too big or too small and most importantly, every customer is treated individually and with equal attention. Our warm and friendly team is dedicated to fulfilling the needs of each individual client.

			p We are able to offer tailored deliveries in terms of our client’s preference on how they wish to have their fruit and vegetables supplied. Whether it be an urgent last minute delivery, a special dinner party or a simple daily order, we will always endeavor to make sure your needs are met because here at Mazao fresh our priority is you.
				p Our mission is simple:
				p 1 Offer only the freshest, finest quality Kenyan farm produce – quality without question! 
				p 2 Offer exceptional customer service with a team atmosphere that works tirelessly to provide a unique level of service to our customers

			p: +button("info","/","small") Go Back

