extends layout

block content
	.container
		h1= title
		.jumbotron
			p Welcome to #{title}
			p Supplier of Fresh Fruit, Vegtables  Farm Produce

			p We are wholesale suppliers of fresh produce to the food service and catering industries, including hotels, restaurants, schools, and staff canteens within Nairobi

			p At Mazao Fresh we pride ourselves in sourcing the very best of our local produce, cutting down the delivery miles and ensuring the freshest Kenyan produce is served on Kenyan plates

			p For your convenience, we also offer pre-washed, pre-cut fruit and vegetables. So join us in supporting our local farmers and share the bountiful harvest of Kenya's freshest produce 

