include mixins
doctype html
html
	head
		title= title
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
	body
		.container
			+nav("Mazao Fresh", "dropdown_menu", "inverse")
				+nav_item( "/", "active" ) Home
				+nav_item( "/about" ) About Us
				+nav_item( "/products" ) Product List
				+nav_item( "/orders" ) Orders & Deliveries
				+nav_item( "/home_delivery" ) Home Delivery
				+nav_item( "/contact" ) Contact Us
				+nav_item_dropdown( "#" )( label="Login" )
						+nav_item( "/signup" ) Sign Up
			div(id="content", class="main")
				block content
		div
			footer &copy; Mazao Fresh