include mixins
doctype html
html
	head
		title= title
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
	body
		.container
			+nav("Mazao Fresh", "dropdown_menu", "inverse")
				+nav_item( "/", "active" ) Home
				+nav_item( "/about" ) About Us
				+nav_item( "/about" ) Product List
				+nav_item( "/about" ) Orders & Deliveries
				+nav_item( "/about" ) Home Delivery
				+nav_item( "/contact" ) Contact Us
				+nav_item_dropdown( "#" )( label="Dropdown" )
						+nav_item( "#" ) Action
						+nav_item( "#" ) Another action
						+nav_item( "#" ) Something else here
			div(id="content", class="main")
				block content
		div
			footer &copy; Mazao Fresh