extends layout
include mixins

block content
	//TODO: implement stricter form validation !!
	h3(align="center") #{date}
	form(name="sign_up", method="post", action="/api/register")
		+field({type: "text", name: "name", placeholder: "username"})
		+field({type: "password", name: "password", placeholder: "enter password"})

		button#btnSubmit(type="submit", class="btn btn-info btn-lg") Submit

