extends layout


block content
	//TODO: implemet stricter form validation
	p(align="center") #{date}
	form(name="user", method ="post", action="/api/authenticate")
		p(class="text-center") 
				|	Name
				input(type='text',name='name',placeholder='Enter your name',required)
		p(class="text-center")
				|	Password
				input(type='password',name='password',placeholder='Enter your password',required)

		button#btnSubmit(type="submit", class="btn btn-info btn-lg") Submit